*{ margin: 0; padding: 0; }
li{ list-style: none; }

.post-box{
	width: 450px;
	height: 100px;
	display: flex;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
}
.post-box > li{ margin: 10px; }